@media print {
  body * {
    visibility: hidden;
  }
  #printable, #printable * {
    visibility: visible;
  }
  #printable {
    position: absolute;
    left: 0;
    top: 0;
  }
  #printable .print-only {
    visibility: visible;
    display: block;
  }
  #printable .print-exclude {
    visibility: hidden;
    display: none;
  }
}

@media not print {
  .print-only {
    display: none;
  }
}